/* css topics */
.topics {
  padding: 100px 5%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.topics_box {
  border: 1px solid #222020;
  padding: 20px;
  background-color: #000;
  border-radius: 20px;
  text-decoration: none;
}
