.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.coin_box {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.coin_box h1 {
  font-size: 16px;
}

.coin_box img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.symbol {
  text-transform: uppercase;
}

.red {
  color: red;
}

.green {
  color: green;
}

/* antd css */
.ant-table-cell {
  text-align: center !important;
  background-color: var(--antd_table) !important;
  color: var(--antd_table_color) !important;
}

.ant-table-tbody > tr > td {
  background-color: var(--antd_table);
  color: var(--antd_table_color) !important;
}

.ant-empty-description {
  color: var(--antd_table_color) !important;
}

.ant-table-expanded-row-fixed {
  border-bottom: none !important;
}

/* search */
.ant-input,
.ant-btn-default {
  background-color: transparent !important;
  color: var(--antd_table_color);
}

/* search icon */
.ant-btn-icon {
  color: var(--body_color) !important;
}

.ant-pagination-item a {
  color: rgb(165, 166, 172) !important;
}

.ant-pagination-item-ellipsis {
  color: rgb(59, 60, 63) !important;
}

.anticon-right,
.anticon-left {
  color: rgb(59, 60, 63) !important;
}

/* muốn sửa color active ở panigation thì sửa ở đây */
.ant-pagination-item-active.a {
  border: none !important;
  background-color: var(--antd_panigation_bgcolor) !important;
}

.ant-select-selector {
  background-color: var(--antd_panigation_bgcolor) !important;
  border: none !important;
}
