/* css dashboard */
.dashboard {
  padding: 20px 6%;
}

.search {
  width: 100%;
}

.dashboard_overview_box {
  border: 1px solid #404040;
  padding: 10px;
  border-radius: 20px;
}

.dashboard_overview {
  margin-bottom: 20px;
}

.coin_info_box {
  display: flex;
  align-items: center;
}

.dashboard_overview_trending {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dashboard_overview_h2 {
  margin-bottom: 10px;
}

.dashboard_overview_box_p {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 1%;
  }
}
